{% extends 'base.html' %}
{% load static %}
 
{% block title %}Reports - FinFlow{% endblock %}
{% block page_title %}Reports{% endblock %}

{% block content %}
<!-- P&L Statement -->
<div class="mb-4 md:mb-6 flex justify-between items-center">
    <h2 class="text-sm md:text-xl md:font-bold">Profit & Loss Statement</h2>
    <button type="submit" onclick="openExportModal()" class="flex gap-3 items-center px-3 py-2 md:px-4 md:py-2 bg-blue-800  text-white rounded-lg hover:bg-transparent hover:shadow-lg hover:text-blue-800 border border-blue-800 transition-all duration-200 text-sm md:text-base active:scale-95 active:text-red-600 active:border-red-600">Export Report <i class="fa-solid fa-download"></i></button>
</div>

<div class="grid grid-cols-1 sm:grid-cols-3 gap-3 md:gap-6 mb-6 md:mb-8">

    <!-- Total Income Card -->
    <div class="bg-custom-card border border-custom-border rounded-xl p-4 md:p-4">
        <p class="text-xs md:text-sm text-custom-muted-foreground mb-2">Total Income</p>

        <!-- Animated Number -->
        <p id="incomeValue" 
           data-value="{{ total_income }}" 
           class="text-2xl md:text-3xl font-bold text-green-600">
           Ksh 0
        </p>

        <div class="mt-4 space-y-1 text-xs md:text-sm grid gap-1">
            <p class="text-custom-muted-foreground">
                <span class="font-medium text-green-600">
                     {{ income_change_percent }}%
                </span>
                compared to last month
            </p>

            <p class="text-custom-muted-foreground">
                Top source: <span class="font-semibold">{{ top_income_category }}</span>
            </p>

            <p class="text-custom-muted-foreground">
                Transactions: <span class="font-semibold">{{ income_transactions }}</span>
            </p>
        </div>
    </div>

    <!-- Total Expenses Card -->
    <div class="bg-custom-card border border-custom-border rounded-xl p-4 md:p-4">
        <p class="text-xs md:text-sm text-custom-muted-foreground mb-2">Total Expenses</p>

        <!-- Animated Number -->
        <p id="expensesValue" 
           data-value="{{ total_expenses }}" 
           class="text-2xl md:text-3xl font-bold text-red-600">
           Ksh 0
        </p>

        <div class="mt-4 space-y-1 text-xs md:text-sm grid gap-1">
            <p class="text-custom-muted-foreground">
                <span class="font-medium text-red-600">
                    {{ expense_change_percent }}%
                </span>
                change from last month
            </p>

            <p class="text-custom-muted-foreground">
                Biggest category: <span class="font-semibold">{{ top_expense_category }}</span>
            </p>

            <p class="text-custom-muted-foreground">
                Transactions: <span class="font-semibold">{{ expense_transactions }}</span>
            </p>
        </div>
    </div>

    <!-- Net Profit Card -->
    <div class="bg-custom-card border border-custom-border rounded-xl p-4 md:p-4">
        <p class="text-xs md:text-sm text-custom-muted-foreground mb-2">Net Profit</p>

        <!-- Animated Number -->
        <p id="profitValue" 
           data-value="{{ net_profit }}" 
           class="text-2xl md:text-3xl font-bold 
           {% if net_profit >= 0 %}text-green-600{% else %}text-red-600{% endif %}">
           Ksh 0
        </p>

        <div class="mt-4 space-y-1 text-xs md:text-sm grid gap-1">
            <p class="text-custom-muted-foreground">
                <span class="font-medium 
                    {% if net_profit_change >= 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {{ net_profit_change }}%
                </span>
                change from last month
            </p>

            <p class="text-custom-muted-foreground">
                Profit margin: 
                <span class="font-semibold">
                    {{ profit_margin }}%
                </span>
            </p>

            <p class="text-custom-muted-foreground">
                Status:
                <span class="font-semibold 
                    {% if net_profit >= 0 %}text-green-600{% else %}text-red-600{% endif %}">
                    {% if net_profit >= 0 %}Profitable ↗{% else %}Loss Making ↘{% endif %}
                </span>
            </p>
        </div>
    </div>

</div>


<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-6 mb-6">
    <!-- Monthly Breakdown Chart -->
    <div class="bg-custom-card border border-custom-border rounded-lg p-4 md:p-6">
        <h3 class="text-base md:text-lg font-semibold mb-4">Monthly Breakdown</h3>
        <div class="relative h-48 md:h-64">
            <canvas id="monthlyChart"></canvas>
        </div>
    </div>

    <!-- Net Profit Trend -->
    <div class="bg-custom-card border border-custom-border rounded-lg p-4 md:p-6">
        <h3 class="text-base md:text-lg font-semibold mb-4">Net Profit Trend</h3>
        <div class="relative h-48 md:h-64">
            <canvas id="netProfitChart"></canvas>
        </div>
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-6">
    <!-- Expenses by Category (Doughnut) -->
    <div class="bg-custom-card border border-custom-border rounded-lg p-4 md:p-6">
        <h3 class="text-base md:text-lg font-semibold mb-4">Spending by Category</h3>
        <div class="relative h-48 md:h-64">
            <canvas id="expensesCategoryChart"></canvas>
        </div>
    </div>

    <!-- Top 5 Income Sources (Bar Chart) -->
    <div class="bg-custom-card border border-custom-border rounded-lg p-4 md:p-6">
        <h3 class="text-base md:text-lg font-semibold mb-4">Top 5 Income Sources</h3>
        <div class="relative h-48 md:h-64">
            <canvas id="topIncomeChart"></canvas>
        </div>
    </div>
</div>

<!-- Export Modal -->
<div id="exportModal" class="hidden fixed inset-0 bg-black/50 flex items-center justify-center z-50 backdrop-blur-sm">
    <div class="bg-white dark:bg-gray-900 md:p-8 rounded-xl w-80 shadow-xl px-4 py-4">
        <h2 class="text-lg font-semibold mb-4">Export Report</h2>
        <p class="text-sm text-gray-600 dark:text-gray-400 mb-4">Choose export format:</p>

        <div class="flex flex-col gap-3 mb-2">
            <a href="{% url 'finflow:export_report_csv' %}"
               class="bg-custom-accent text-white py-2 rounded-lg text-center hover:bg-transparent hover:bg-blue-800">
                Export as CSV
            </a>

            <a href="{% url 'finflow:export_report_excel' %}"
               class="bg-green-600 text-white py-2 rounded-lg text-center hover:bg-green-800">
                Export as Excel
            </a>

            <a href="{% url 'finflow:export_report_pdf' %}"
               class="bg-red-600 text-white py-2 rounded-lg text-center hover:bg-red-800">
                Export as PDF
            </a>
        </div>

        <button onclick="closeExportModal()"
                class="mt-4 w-full py-2 bg-gray-300 bg-transparent  dark:bg-gray-700 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 border border-custom-border transition-colors hover:text-white">
            Cancel
        </button>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
function animateValue(el, duration = 1500) {
    let final = parseFloat(el.dataset.value);
    let start = 0;
    let increment = final / (duration / 16);

    function update() {
        start += increment;

        if (start >= final) {
            el.innerText = "Ksh " + final.toLocaleString(undefined, {minimumFractionDigits: 2});
        } else {
            el.innerText = "Ksh " + start.toLocaleString(undefined, {maximumFractionDigits: 2});
            requestAnimationFrame(update);
        }
    }
    requestAnimationFrame(update);
}

window.addEventListener("load", () => {
    animateValue(document.getElementById("incomeValue"));
    animateValue(document.getElementById("expensesValue"));
    animateValue(document.getElementById("profitValue"));
});
</script>

<script>

    window.addEventListener('load', () => {
        (function() {

            // Animation settings for all charts
            const chartAnimation = {
                duration: 1500,           // 1.5 seconds
                easing: 'easeOutQuart'
            };

            // Monthly Breakdown (Bar)
            new Chart(document.getElementById('monthlyChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: [{% for item in monthly_data %}'{{ item.month }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [
                        {
                            label: 'Income',
                            data: [{% for item in monthly_data %}{{ item.income }}{% if not forloop.last %},{% endif %}{% endfor %}],
                            backgroundColor: 'hsl(160 84% 39%)',
                        },
                        {
                            label: 'Expenses',
                            data: [{% for item in monthly_data %}{{ item.expenses }}{% if not forloop.last %},{% endif %}{% endfor %}],
                            backgroundColor: 'hsl(0 72% 60%)',
                        }
                    ]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: chartAnimation,
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });

            // Net Profit Trend (Line)
            new Chart(document.getElementById('netProfitChart').getContext('2d'), {
                type: 'line',
                data: {
                    labels: [{% for item in monthly_data %}'{{ item.month }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [{
                        label: 'Net Profit',
                        data: [{% for item in monthly_data %}{{ item.net_profit }}{% if not forloop.last %},{% endif %}{% endfor %}],
                        borderColor: 'hsl(160 84% 39%)',
                        backgroundColor: 'hsl(160 84% 39% / 0.1)',
                        fill: true,
                        tension: 0.4
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: chartAnimation,
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });

            // Expenses by Category (Doughnut)
            new Chart(document.getElementById('expensesCategoryChart').getContext('2d'), {
                type: 'doughnut',
                data: {
                    labels: [{% for category in expense_categories %}'{{ category.name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [{
                        data: [{% for category in expense_categories %}{{ category.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                        backgroundColor: [
                            'hsl(0 72% 60%)', 'hsl(30 70% 60%)', 'hsl(60 70% 60%)',
                            'hsl(120 70% 50%)', 'hsl(200 70% 50%)', 'hsl(280 70% 50%)'
                        ]
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: {
                        animateScale: true,  // doughnut slices expand from center
                        duration: 1500,
                        easing: 'easeOutCubic'
                    }
                }
            });

            // Top 5 Income Sources (Bar)
            new Chart(document.getElementById('topIncomeChart').getContext('2d'), {
                type: 'bar',
                data: {
                    labels: [{% for source in top_income_sources %}'{{ source.name }}'{% if not forloop.last %},{% endif %}{% endfor %}],
                    datasets: [{
                        label: 'Income',
                        data: [{% for source in top_income_sources %}{{ source.amount }}{% if not forloop.last %},{% endif %}{% endfor %}],
                        backgroundColor: 'hsl(160 84% 39%)'
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    animation: chartAnimation,
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });

        })();
    
});

// export modal functions
function openExportModal() {
    document.getElementById("exportModal").classList.remove("hidden");
}

function closeExportModal() {
    document.getElementById("exportModal").classList.add("hidden");
}

</script>

{% endblock %}
